<%- include("partials/header") -%>

<div class="p-5 mb-4 rounded-3 bg-light">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-6 home-page">
        <h1 class="display-5 fw-bold">Welcome to my personal website!</h1>
        <p class="fs-4">I'm Shawn Collinge, a Computer Science student at the Paul G. Allen School of Computer Science with a strong interest in Software Development. I'm particularly interested in Machine Learning and hope to specialize in this field. I am currently engaged in undergraduate machine learning research, advised by <a href="https://xinyizhou.xyz/" target="_blank">Xinyi Zhou</a>. I am also a Teaching Assistant for the <a href="https://courses.cs.washington.edu/courses/cse446/24wi/" target="_blank">Machine Learning class</a>.
          <br /><br />
          On this website, you can learn more about my projects, academic background, and contact information. Feel free to get in touch with me if you have any questions or inquiries!
        </p>
      </div>
      
      <div class="col-md-6">
        <img src="uploads/shawn.jpg" alt="Shawn Collinge" class="img-fluid rounded profile-image">
      </div>
    </div>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <h1 class="display-5 fw-bold">Featured projects</h1>
    <div class="row">
      <% featureProjects.reverse() %>
      <% featureProjects.forEach(function(project) { %>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4 box-shadow">
          <a href="/projects/<%=project.id%>">
            <img class="card-img-top img-thumbnail" src="<%=project.images[0].path%>" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4>
              <%= project.title %>
            </h4>
            <p class="card-text"> <%=project.techStacks%> </p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="<%=project.githubLink%>" target="_blank" class="btn btn-sm btn-outline-secondary">Github</a>
                <a href="<%=project.demoLink%>" target="_blank" class="btn btn-sm btn-outline-secondary<% if (!project.demoLink) { %> disabled<% } %>">Demo</a>
                <a href="/projects/<%=project.id%>" class="btn btn-sm btn-outline-secondary">More info</a>
              </div>
              <% if (user?.isAdmin) { %>
              <div class="btn-group">
                <button type="button" onclick="location.href='/admin/edit/<%=project.id%>'" class="btn btn-sm btn-primary">Edit</button>
                <form action="/admin/delete/<%=project.id%>" method="post">
                  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div><%});%>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
